<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="give_me_coins.dashboard"
    android:versionCode="24"
    android:versionName="Beta3.1" 
    android:installLocation="auto"
    >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />
    <supports-screens android:xlargeScreens="true" 
        android:largeScreens="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:anyDensity="true"/>
    
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET" />
    
    <uses-feature android:name="android.hardware.camera" android:required="false" />
	<uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <application android:name="GiveMeCoinsDashboard"
                 android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher"
                 android:theme="@style/AppTheme"
                 android:allowBackup="true"
                 android:allowClearUserData="true">
        
        <receiver android:name=".Widget_mainLargeLTC" android:label="@string/app_name_ltc">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/givemecoins_widget_provider_large" />
        </receiver>
        
       <receiver android:name=".Widget_mainLargeBTC" android:label="@string/app_name_btc">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/givemecoins_widget_provider_large" />
        </receiver>
        
               
       <receiver android:name=".Widget_mainLargeFTC" android:label="@string/app_name_ftc">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/givemecoins_widget_provider_large" />
        </receiver>
               
        <activity
            android:name="give_me_coins.dashboard.MainScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppBaseTheme" 
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="give_me_coins.dashboard.BarCodeReaderActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppBaseTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
               
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
               
        <service android:name="ListviewWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false" />
        
        <service android:name="GMCService" android:permission="android.permission.INTERNET"></service>
        <service android:name="GmcStickyService" android:permission="android.permission.INTERNET"></service>
        <service android:name="GMCPoolService" android:permission="android.permission.INTERNET"></service>
    </application>

</manifest>
